<%- include('../partials/header') %>

<section id="show-page">
    <h3>Airport: </h3>
    <div><%= flight.airport %></div>
    <h3>Airline: </h3>
    <div><%= flight.airline %></div>
    <h3>flight Number: </h3>
    <div><%= flight.flightno %></div>
    <h3>Date: </h3>
    <div><%= flight.date %></div>
  </section>

  <%- include('../partials/footer') %>